<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
      <div class="container">
        <h2>API Project by Saketh Ramanujam under FCC Guidelines:Timestamp Microservice</h2>
        <h3>User Story: </h3>
        <ul>
          <li>The API endpoint is GET [project_url]/api/timestamp/:date_string?</li>
          <li>A date string is valid if can be successfully parsed by new Date(date_string).</li>
          <li>The unix timestamp is an integer (not a string) specifying milliseconds.</li>
          <li>If the date string is empty it should be equivalent to trigger new Date(), i.e. the service uses the current timestamp.</li>
          <li>If the date string is valid the api returns a JSON having the structure
          {"unix": <date.getTime()>, "utc" : <date.toUTCString()> }</li>
          e.g. {"unix": 1479663089000 ,"utc": "Sun, 20 Nov 2016 17:31:29 GMT"}
            If the date string is invalid the api returns a JSON having the structure 
          {"error" : "Invalid Date" }.
        </ul>

        <h3>Example Usage:</h3>
        <p>
          [project url]/api/timestamp/2015-12-25
          [project url]/api/timestamp/1450137600
        </p>

        <h3>Example Output:</h3>
        <p>
          <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          by <a href="http://www.github.com/sakethramanujam">SakethRamanujam</a>
        </p>
      </div>
   </body>
</html>
